/* ☆ログイン後のスタイル設定 */

@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    margin-right: 0;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

.error-messege {
    color: red;
}


/* ホーム画面ナビゲーション設定 */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

/* Atlasのロゴ */
.logo {
    width: 120px;
    height: auto;
}

.topusername {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topicon {
    align-self: flex-end;
}



/* アコーディオンメニュー */
.accordion {
    width: 200px;
    position: relative;
}

/* アコーディオンメニュー矢印全体 */
.accordion-btn {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* アコーディオンメニュー矢印 */
.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    transition: 0.3s;
    margin-left: 8px;
}

/* アコーディオンメニュー矢印が開いたら回転 */
.arrow.open {
    transform: rotate(225deg);
}

/* アコーディオンメニューのリスト全体 */
.accordion-list {
    display: none;

    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background: white;
}

/* アコーディオンのリストメニュー */
.list-item {
    width: 100%;
}

/* アコーディオンのメニューリストのリンク部分
 */
.list-link {
    display: block;
    padding: 20px 0;
    background: #f5f5f5;
    color: #8a8a8a;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00297E;
    font-size: 20px;
    transition: 0.3s;
}

/* アコーディオンのメニューリストのリンク部分のマウスオン時
 */
.list-link:hover {
    background: #00297E;
    color: white;
    text-decoration: none;
}

/* ログアウトボタン */
.logout-btn {
    width: 100%;
    padding: 20px 0;
    border: 1px solid #00297E;
    background: #f5f5f5;
    color: #8a8a8a;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

/* ログアウトボタンにマウスオンの時 */
.logout-btn:hover {
    background: #00297E;
    color: white;
}

/* アコーディオンメニューのリストが開いたら表示 */
.accordion-list.show {
    display: block;
}


/* サイドバーの表示設定 */
.side-bar {
    width: 100%;
}

/* フォロー数フォロワー数の全体部分 */
#confirm {
    padding: 20px;
    font-weight: bold;

}

/* フォロー数フォロワー数それぞれのブロック */
.side-list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

/* フォロー数フォロワー数それぞれのボタン */
.btn {
    width: 100%;
    text-align: right;
}

/* フォローフォロワー数のリンク */
.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background: #0656cf;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00297E;
    border-radius: 8px;
    transition: 0.3s;
}

/* フォローフォロワー数のリンクのマウスオン時 */
.btn-link:hover {
    background: #3b7de0;
    color: #fff;
    text-decoration: none;
}

/* ユーザー検索のボタンの位置 */
.btn-search {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #636b6f;
}




/* 投稿フォーム全体 */
.postform {
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 150px;
}

/* ユーザーアイコン */
.user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
    align-self: flex-start;
}

/* 投稿ボックス */
.postbox {
    height: 100%;
    flex: 1;
    border: none;
    background: transparent;
    resize: none;
    font-size: 18px;
    outline: none;
}

/* 投稿ボックスの中の初期文字 */
.postbox::placeholder {
    color: #DEDEDE;
}

/* 投稿ボタン */
.formbtn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 20px;
    align-self: flex-end;
}

/* 投稿ボタンの画像 */
.formbtn img {
    width: 50px;
}

/* 投稿内容表示 */
.post-list {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background: #fff;
    padding: 20px 80px;
    box-sizing: border-box;
    margin-top: 5px;
    min-height: 150px;
    height: auto;
}

/* 投稿内容のユーザー名と内容の全体 */
.post-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

/* 投稿内容のユーザー名 */
.username {
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
}

/* 投稿内容のボックス */
.post-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
}


/* 投稿削除用ボタン全体 */
.delete-form {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* 編集用ボタン全体 */
.edit-form {
    position: absolute;
    right: 60px;
    bottom: 20px;
}

/* 投稿フォーム編集、削除ボタン */
.delete-btn,
.edit-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* 削除用画像、編集用画像 */
.delete-icon,
.edit-icon {
    width: 40px;
}

.delete-btn:hover .delete-icon {
    content: url("../images/trash-h.png");
}

.edit-btn:hover .edit-icon {
    content: url("../images/edit_h.png");
}

/* 投稿日時 */
.post-date {
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: Arial, sans-serif;
}


/* 編集のモーダル設定モーダル全体 */
.edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);

}

/* 編集モーダルの白い部分 */
.modal-content {
    background: #fff;
    width: 900px;
    padding: 30px;
    border-radius: 10px;
}

/* 編集モーダルのテキストボックス */
.modal-content textarea {
    width: 100%;
    height: 250px;
    resize: none;
    border: 1px solid #636b6f;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px;

}

/* 編集モーダルの編集ボタン 全体*/
.modal-btn {
    text-align: center;
    margin-top: 30px;
}

/* 編集モーダルの編集ボタン */
.modal-btn button {
    background: none;
    border: none;
    cursor: pointer;
}

/* 編集モーダルの編集ボタンの画像 */
.modal-btn img {
    width: 60px;
}

.modal-btn button:hover .edit-icon {
    content: url("../images/edit_h.png");
}


/* 検索リスト */
.user-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-weight: bold;
    padding-left: 200px;
}

/* アイコン＋ユーザー名 */
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 検索フォーム全体 */
.search-form {
    align-items: center;
    margin-left: 50px;
    padding-bottom: 5px;
}

/* 検索フォームのボックス */
.search-form input {
    width: 250px;
    /* 横幅を大きく */
    height: 40px;
    /* 高さを大きく */
    font-size: 16px;
    /* 文字サイズ */
    padding: 0 10px;
}

/* 検索ボタン */
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* 検索ボタンの画像 */
.search-btn img {
    width: 40px;
    height: 40px;
}

/* 検索ワード */
.search-word {
    margin-left: 120px;
    font-size: 20px;
}


/* 検索画面のフォロー解除するボタン */
.unfollows-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #dc143c;
    padding: 7px 25px;
    border-radius: 10px;
    font-weight: normal;
    margin-right: 200px;

}

/* 検索画面のフォローするボタン */
.follows-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #7cc8f2;
    padding: 7px 25px;
    border-radius: 10px;
    font-weight: normal;
    margin-right: 200px;
}



/* フォローリストのアイコン部分の全体 */
.followicon-content {
    padding-bottom: 10px;
    background-color: #fff;
    display: flex;
}

/* フォローリストのタイトル文字 */
.followlist-title,
.followerlist-title {
    font-size: 20px;
    padding: 20px 40px;
}

/* フォローリストのアイコン全体 */
.follow-user,
.folower-user {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    gap: 15px;
    padding: 20px 30px;
}

/* フォローリストのアイコン画像全体 */
.follow-icon,
.follower-icon {
    width: 50px;
    height: 50px;
}

/* フォローリストのアイコン画像 */
.follow-icon img,
.follower-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



/* 相手ユーザーのプロフィール部分全体 */
.profile {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 130px;
    padding: 30px 15px 30px 90px;
    box-sizing: border-box;
    background: #fff;
}

/* 相手ユーザーのプロフユーザー情報全体 */
.profile-info {
    width: 550px;
}

/* 相手ユーザーのプロフユーザー名・自己紹介の1行 */
.profile-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

/* 相手ユーザーのプロフ最後の .profile-row だけ、下の余白をなくす */
.profile-row:last-child {
    margin-bottom: 0;
}

/* 相手ユーザーのプロフ「ユーザー名」「自己紹介」 */
.profile-label {
    width: 120px;
    margin: 0;
}

/* 相手ユーザーのプロフ「ユーザー名」「自己紹介」データ */
.profile-value {
    margin: 0;
}

/* 相手ユーザーのプロフフォローボタン位置 */
.profile-follow {
    position: absolute;
    right: 85px;
    bottom: 20px;
}
